<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/jscript.js"></script>
    <title>Document</title>
</head>
<header>
    <img id="headerUSQ" src="../static/img/HeaderUSQ.png" alt="USQ">
</header>
<body>
    <img id="backgroundmain" src="../static/img/backgroundmain.png" alt="">
    <!-- <div id="positionF"></div> -->
    <div id="bodyForm">
        <form action="" method="post">
            <label for="user">User</label>
            <input type="text" name="user" id="user" placeholder="User Name">

            <label for="pass">Password</label>
            <input type="password" name="pass" id="pass" placeholder="Password">

            <input type="submit" value="Logon">
        </form>
    </div>
</body>
<footer>
    <div id="footerinfo">
        <div id="metadata">
            <h1>Master of<br>Cyber Security</h1>
            <h4>-----------------------+-----------------------</h4>
            <h3>
                Network Security Management - < Subcode >
                <br>
                Lecture: < lectureName >
            </h3>
            <h4>-----------------------+-----------------------</h4>
            <h3>By Daniel Arango - < ID > </h3>
        </div>
        <img id="iconUSQfooter" src="../static/img/FooterUSQ.png" alt="">
    </div>
</footer>
</html>