<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/jscript.js"></script>
    <title>Document</title>
</head>
<header>
    <img id="headerUSQ" src="../static/img/HeaderUSQ.png" alt="USQ">
</header>
<body>
    <img id="backgroundmain" src="../static/img/backgroundLogin.png" alt="">
    <!-- <div id="positionF">{{ user }} and {{ password }}</div> -->
    <div id="bodyForm_loggedin">
        <p id="userLogon">User "{{ user }}" has logged on. Password {{ passw }}.</p>
        <form action="/logout" method="POST">
            <input type="submit" value="Log out">
        </form>
    </div>
</body>
<footer>
    <div id="footerinfo">
        <div id="metadata">
            <h1>Master of<br>Cyber Security</h1>
            <h4>-----------------------+-----------------------</h4>
            <h3>
                Network Security Management - < Subcode >
                <br>
                Lecture: < lectureName >
            </h3>
            <h4>-----------------------+-----------------------</h4>
            <h3>By Daniel Arango - < ID > </h3>
        </div>
        <img id="iconUSQfooter" src="../static/img/FooterUSQ.png" alt="">
    </div>
</footer>
</html>